{% extends 'librarian/base.html' %}
{% block content %}
    <!-- Main content -->
    <section class="content">
        <div class="row">
          <div class="col-md-3">
            <a href="{% url 'librarian-users' %}" class="btn btn-primary btn-block mb-3"><i class="fa fa-plus"></i> Add User</a>
  
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Manage Users</h3>
  
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body p-0">
                <ul class="nav nav-pills flex-column">
                  <li class="nav-item">
                    <a href="{% url 'librarian-users' %}" class="nav-link">
                      <i class="fas fa-plus"></i> Add User
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'update-users' %}" class="nav-link">
                      <i class="fa fa-edit"></i> Update User
                    </a>
                  </li>
                  <li class="nav-item act2">
                    <a href="{% url 'import-students-id' %}" class="nav-link act">
                      <i class="fas fa-file-import"></i> Import User ID
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            {% if message == True %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <center><strong>Imported successfully</strong></center>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% elif error_msg == True %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <center><strong>Student ID Exists</strong></center>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {%  endif %}
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">Import Students ID</h3>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <form action="import_id" method="POST">{% csrf_token %}      
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label for="labelfname">Student ID</label>
                            <input type="text" id="labelfname" name="studID" placeholder="Enter Students ID" class="form-control" required>
                        </div>                     
                    </div>
                    <input type="submit" name="save" value="Save" class="btn btn-danger">
                    </form> 
              </div>
              <!-- /.card-body -->
              <div class="card-footer p-0">
                
                </div>
              </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>
{% endblock content %}