{% extends 'librarian/base.html' %}
{% block content %}
    <!-- Main content -->
    <section class="content">
        <div class="row">
          <!-- /.col -->
          <div class="col-md-12">
            {% if messages == True %}
            <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Search Result</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>ISBN</th>
                      <th>Author</th>
                      <th>Publisher</th>
                      <th>Published Date</th>
                      <th>Genre</th>
                      <th>Edition</th>
                      <th>Langiage</th>
                      <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in book %}
                    <tr>
                      <td>{{ item.ISBN }}</td>
                      <td>{{ item.author }}
                      </td>
                      <td>{{ item.publisher }}</td>
                      <td>{{ item.pub_date }}</td>
                      <td>{{ item.genre }}</td>
                      <td>{{ item.edition }}</td>
                      <td>{{ item.language }}</td>
                      <td><a href="{% url 'file_download' item.id %}"><i class="fa fa-download" style="color : success;"></i></a> </td>
                    </tr>
                    {% endfor %}
                    </tfoot>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
            <!-- /.card -->
            {% elif messages == False %}
            <div class="card">
              <div class="card-body">Not Found</div>
            </div>
            {% endif %}
          </div>
        </div>
        <!-- /.row -->
      </section>
{% endblock content %}